
<div class="comment-username">
  {{comment.username}}
</div>
<div class="comment-date">
  {{comment.date}}
</div>
<div class="comment-comment well">
  {{comment.comment}}
</div>

{{update-comment comment=comment update="update" }}

<button class="btn btn-primary"{{action 'delete' post}}>Delete</button>




















{{yield}}
