<h2>{{model.post.postTitle}}</h2>

<div class="post-image">
  <img src={{model.post.image}}>
</div>
<div class="post-info">
  {{model.post.date}}
  {{model.post.author}}
</div>
<div class="post-story">
  {{model.post.story}}
</div>

{{add-comment submit="submit" post=model.post}}

<ul>
  {{#each model.post.comments as |comment|}}
    {{display-comments comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>

{{outlet}}
